<main role="main" class="container"> <!-- Contenedor principal de la aplicación, con el rol semántico de "main". -->
  <div class="starter-template"> <!-- Div que sirve como plantilla de inicio, generalmente para mostrar un encabezado y 
    un párrafo introductorio. -->
    <h1>Stateful</h1> <!-- Título principal de la página. -->
    <p class="lead">Ejemplo de componente stateful.</p> <!-- Párrafo descriptivo que proporciona contexto sobre el componente. -->

    <!-- Fila que centra y distribuye las tarjetas -->
    <div class="row justify-content-center"> <!-- Fila de Bootstrap que centra su contenido. -->
      <!-- Cada tarjeta ocupa 4 columnas en pantallas medianas (3 tarjetas por fila) -->
      <div class="col-md-4 mb-3" *ngFor="let curso of shopModel.shopItems"> <!-- Repite esta columna para 
        cada 'curso' en 'shopModel.shopItems'. -->
        <div class="card h-100"> <!-- Tarjeta de Bootstrap que ocupa toda la altura disponible. -->
          <app-stateless [curso]="curso" (cursomatriculado)="cursoMatriculado($event)"></app-stateless> <!-- Componente 
          hijo 'app-stateless' que recibe un 'curso' y emite el evento 'cursomatriculado'. -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- List group para elementos comprados -->
  <h3 *ngIf="boughtItems.length === 0" > No has comprado ningún curso aún. ¡Elige uno para empezar!</h3> <!-- Encabezado que se muestra si aun no se ha iniciado la compra -->
  <h3 *ngIf="boughtItems.length > 0" > Cursos comprados:</h3> <!-- Encabezado que se muestra cuando se inicia la compra -->
  <ul class="list-group mt-3"> <!-- Lista de Bootstrap para mostrar elementos comprados, con un margen superior. -->
    <li *ngFor="let boughtItem of boughtItems" class="list-group-item"> <!-- Repite este elemento de lista para cada 'boughtItem' en 'boughtItems'. -->
      {{ boughtItem.title }} <span class="badge text-bg-primary">{{ boughtItem.price | currency:"&euro;" }}</span></li><!-- Muestra el título del producto comprado. -->
    <li *ngIf="finalPrice() > 0" class="list-group-item fw-bold">Total cursos comprados: <span class="badge text-bg-primary">{{finalPrice() | currency:"&euro;"}}</span></li><!-- Item que muestra el precio total -->
  </ul>
  <app-confirm></app-confirm>
  <app-status-cart
  [price]="finalPrice()"
  [shopModel]="shopModel.shopItems" 
  (add)="onConfirm()"
  ></app-status-cart>
</main>


  
  